@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

/* RESET - overrides default browser style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
}

.header-nav.container {
  border: 2px dashed salmon;
  /* text-align: right; */

  display: flex;
  justify-content: space-between;
}

.header-nav.nav-container {
  width: 80%;
  padding: 1rem;
}

.header-nav.navlinks {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-family: "Square Peg", cursive;
}

li {
  list-style-type: none;
}

.header-nav.logo {
  /* border: 4px solid black; */
}

.logo {
  /* border: 2px dashed salmon; */
}

.header-nav.pogo {
  width: 100px;
}

/* #workfromhome{
    color: bisque !important;
} */

#workfromhome {
  color: rgb(224, 16, 44);
}

.content-card {
  border: 2px solid silver;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  margin: 1rem 2rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

/* #chains {
  background: url("../image/ill.png") no-repeat center;
  width: 400px;
  height: 400px;
} */

.content-card-text {
  padding-bottom: 1rem;
}
